<!DOCTYPE html>


<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

$servername = "localhost";
$username = "root";
$password = "jecode4wcs";
$dbname = "commitstrip";

function TellMeAStory(){
    global $servername, $username,$password,$dbname;

        $conn = new mysqli($servername, $username, $password, $dbname);
        // Check connection
        if ($conn->connect_error) {
            die("Connection failed: " . $conn->connect_error);
        }

        $sql = "SELECT * FROM commitstrip  LIMIT 1;";
        $result = $conn->query($sql);

        if ($result->num_rows > 0) {
            // output data of each row

            while($row = $result->fetch_assoc()) {
                echo  '
    

    ';
            }
        } else {
            echo "erreur";
        }
        $conn->close();
        

}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
