{% extends 'base.html.twig' %}
{% block navbar %}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="center-block text-center">
                <h2>{{ story.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-offset-4">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive center-block" src="{{ card.picture }}" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    {% if previous %}
                    <a class="left carousel-control" href="{{ path('wcs_commit_strip_storypage', {'storyid': story.id, 'nbpage': card.Nbcard-1 }) }}" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    {% endif %}
                    {% if next %}
                    <a class="right carousel-control" href="{{ path('wcs_commit_strip_storypage', {'storyid': story.id, 'nbpage': card.Nbcard+1 }) }}" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    {% endif %}
                </div><!-- /carousel -->
            </div>

        </div>
    </div>
    </div>


    {% endblock %}