{% extends "::base.html.twig" %}

{% block title %}WCSCommitStripBundle:Card:showCard{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col s8 offset-s4">
        <img src="{{ card.picture }}" >

        <p>{{ card.nbcard }}</p>

        {% if cardprev != null %}

             <a href="{{ path('wcs_commit_strip_card', {'nbcard':cardprev.nbcard}) }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">-</i></a>
        {% endif %}

        {% if cardnext != null %}
            <a href="{{ path('wcs_commit_strip_card', {'nbcard':cardnext.nbcard}) }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}